.expand {
  display: grid;
  padding-left: 50px;
  grid-template-columns: 3fr 2fr;

  .ratio,
  .diff {
    display: flex;
    align-items: center;
    column-gap: 16px;

    .label {
      color: rgba(0, 0, 0, 0.4);

      &.dark {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
