.board {
  display: grid;
  grid-row-gap: 44px;
}

//
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 16px;
  row-gap: 16px;

  &.small {
    grid-template-columns: 1fr;
  }
}
.vDesc {
  padding-top: 24px;
  font-size: 12px;
  padding-left: 16px;
}

//
.accounts {
  .accountsData {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 16px;
    row-gap: 16px;
  }
}

//
.chainBox {
  display: grid;
}
.chainData {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  column-gap: 16px;
  row-gap: 16px;

  &.small {
    grid-template-columns: 1fr;
  }

  .processCard {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &.small {
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }
  }
}

//
.secondaryText {
  color: rgba(0, 0, 0, 0.3);
  &.dark {
    color: rgba(255, 255, 255, 0.3);
  }
}
.description {
  :global(.ant-descriptions-item-label) {
  }
  :global(.ant-descriptions-item-content) {
    font-family: monospace;
  }
}
