.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 16px;
  row-gap: 16px;
}

.info {
  margin-top: 24px;
  padding: 16px 16px 24px 16px;
  border-bottom: 1px solid #cdcdcd;
}

.chainBox {
  margin-top: 24px;
  display: grid;
  border-bottom: 1px solid #cdcdcd;
  padding: 0 16px;
}

.chainData {
  display: grid;

  padding: 16px 0 24px 0;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  column-gap: 16px;
  row-gap: 16px;

  .processCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.vDesc {
  padding-top: 24px;
  font-size: 12px;
  padding-left: 16px;
}

.secondaryText {
  color: rgba(0, 0, 0, 0.3);
  &.dark {
    color: rgba(255, 255, 255, 0.3);
  }
}

.description {
  :global(.ant-descriptions-item-label) {
  }
  :global(.ant-descriptions-item-content) {
    font-family: monospace;
  }
}
