.formArea {
  display: grid;
  grid-row-gap: 50px;

  .rateValueSelect {
    padding-bottom: 0px;
  }

  .inputArea {
    display: block;
    position: relative;

    width: 100%;

    .box {
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      row-gap: 16px;
      width: 100%;
      max-width: 400px;

      background: #f5f5f5;

      &.dark {
        background: #000;
      }

      &.hide {
        visibility: hidden;
      }
    }

    .displayBox {
      display: grid;
      row-gap: 12px;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        'a c'
        'b c';
      align-items: center;

      .price {
        grid-area: a;
      }
      .cutOff {
        grid-area: b;
      }
      .submit {
        grid-area: c;
      }
    }
  }
}

.descText {
  color: rgba(128, 128, 128, 0.6);
}
