.chartsPage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  grid-row-gap: 20px;
  padding-bottom: 80px;
}

.chartControl {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
