.valBox {
  padding-top: 8px;
  padding-left: 16px;
  display: grid;

  .valStr {
    font-size: 30px;
    font-weight: bold;
    line-height: 2.8;
  }

  .timeStr {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);

    &.dark {
      color: rgba(255, 255, 255, 0.4);
    }
  }
}
